.drpdwn:hover {
    background-color: #4e73df;
    color: #ffff;
}
.drpdwn-dgr:hover {
    background-color: red;
    color: #ffff;
}
.drpdwn-scs:hover {
    background-color: rgb(0, 185, 52);
    color: #ffff;
}
.dropdown-menu2 {
    background-color: #f3f3f3;
    border: 0.1rem solid #5a5c68;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.586);
}
.truncate-text {
    white-space: normal;
}
.left-align {
    text-align: left;
}
.text-bold {
    font-weight: bold;
}

.modal-header {
    background-color: #5156be;
    color: white;
    border-bottom: none;
}

.modal-header .modal-title {
    color: inherit;
}

.modal-header button.btn-close {
    background-color: #ffffff;
}
.lmt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(6ch + 1em);
}

.footer-text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card {
    border: 1px solid #ff000d36;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.card-shadow {
    border: 2px solid #bbbbbb;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* BG COLOR CARD */
body:not([data-bs-theme="dark"]) .header-detail-a  {
    background-color: #dddddd;
}
body:not([data-bs-theme="dark"]) .body-detail-a  {
    background-color: #eeeeee;
}
/* Dark Theme */
body[data-bs-theme="dark"] .header-detail-a  {
    background-color: #383d3b;
}
body[data-bs-theme="dark"] .body-detail-a  {
    background-color: #495057;
}


.card-profile-image {
    text-align: center;
}
.card-profile-image img {
    margin: 8px 0;
    max-width: 180px;
    border-radius: 0.35rem;
    transition: all 0.2s ease-in-out;
}
@media (max-width: 767.98px) {
    .card-profile-image img {
        max-width: 150px;
    }
}

.bg-company {
    background: url("/assets/images/background/MSK.png") repeat-y center top;
    background-size: 100% auto;
    min-height: 100vh;
    position: relative;
    z-index: auto;
}
.bg-company::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Default: white transparent */
    z-index: 0;
}
/* Dark theme = black transparent overlay */
[data-bs-theme="dark"] .bg-company::before {
    background-color: rgba(0, 0, 0, 0.9); /* Dark: black transparent */
}
