.btn-success {
    color: rgb(255, 255, 255);
    background-color: #2ab57d;
}
.btn-outline-primary.active {
    color: #5156be;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #5156be;
    transform: scale(1.15);
}
.btn-success.active {
    color: rgb(255, 255, 255);
    background-color: #2ab57d;
    box-shadow: inset 0 0 0 3px #5156be;
    transform: scale(1.15);
}

/* Style Image Hover */
.custom-image-container {
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}
.custom-image-container:hover .custom-overlay {
    opacity: 1;
}
.custom-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.custom-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}
.custom-text {
    color: white;
    font-size: 15px;
    text-align: center;
}
.custom-table td {
    background-color: rgba(128, 128, 128, 0.03);
}